<div class="row">
	<div class="col"></div>
	<div class="col-md-7">

		<%= image_tag 'bw2.jpg', style: 'width:100%' %>
	<p><h2>TITLE:</h2>
	<strong><%= @article.title %></strong>
</p>
<p>
	<%= @article.created_at.strftime('%A %-b %-d, %Y | %l.%M %p') %>
</p>

<h3>ARTICLE:</h3>
<p>
	<%= @article.text %>
</p>
<hr>
	<%= render 'comments/comment' %>

<hr>
	<%= render 'comments/form' %>

	<p>
	  <%= link_to 'Back to all articles', articles_path, class: 'btn btn-sm btn-info' %>
	</p>

</div><!-- closing col-md-7 div -->
<div class="col"></div>
</div><!-- closing  row div -->
